# Maintainers can approve and merge PRs.
# @llamerada-jp: Yuji Ito
# @satoru-takeuchi: Satoru Takeuchi
# @ushitora-anqou: Ryotaro Banno
# @molpako: Kyori Sakao
# @skoya76: Kohya Shiozaki
* @cybozu-go/mantle-maintainers
