{{- if .Values.webhook.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mantle.fullname" . }}-webhook
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mantle.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.webhook.replicaCount }}
  selector:
    matchLabels:
      {{- include "mantle.webhookSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.webhook.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mantle.webhookSelectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: webhook
        {{- with .Values.webhook.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "mantle.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
      containers:
        - name: webhook
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - "ALL"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- with .Values.image.pullPolicy }}
          imagePullPolicy: {{ . }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.webhook.resources | nindent 12 }}
          command:
            - /manager
          args:
            - webhook
            - --webhook-bind-address=:{{ .Values.webhook.service.targetPort }}
            - --webhook-cert-path=/mnt/webhook-tls-cert/tls.crt
            - --webhook-key-path=/mnt/webhook-tls-cert/tls.key
          ports:
            - name: webhook
              containerPort: {{ .Values.webhook.service.targetPort }}
              protocol: TCP
          volumeMounts:
            - name: webhook-tls-cert
              mountPath: /mnt/webhook-tls-cert
              readOnly: true
      volumes:
        - name: webhook-tls-cert
          secret:
            secretName: {{ template "mantle.fullname" . }}-webhook
      terminationGracePeriodSeconds: 10
      {{- with .Values.webhook.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.webhook.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.webhook.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
