name: "e2e"
on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
      - "LICENSE"
      - "NOTICE"
  push:
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
      - "LICENSE"
      - "NOTICE"
    branches:
      - "main"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        loop:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
    runs-on: mantle_large_runner_16core
    #runs-on: "ubuntu-22.04"
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: sudo apt-get update
      - uses: ./.github/actions/set-up-kvm-for-e2e-tests
      - run: echo "Loop ${{ matrix.loop }}"
      - run: make -C test/e2e setup
      - run: make -C test/e2e test
